@import "~bootstrap/scss/bootstrap-reboot.scss";
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~bootstrap/scss/utilities";

@font-face {
  font-family: "Raleway-Bold";
  font-weight: bold;
  src: url("~Static/fonts/Raleway-Bold.eot?") format("eot");
}

@import "~Static/variables";

::placeholder {
	color: $text;
}
::selection {
	background-color: $accent;
	color: #fff;
}

code {
  color: $accent;
  background-color: $text;
  padding: .1em .3em;
}

* {
  box-sizing: border-box;
}
body {
  color: $text;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  input, textarea {
		border: $text 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}