<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Main page
    </title>
</head>

<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 class="main-title">Webpack starter template</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="slider">
                        <h3 class="slider__title">Пример компонента:</h3>
                        <div class="owl-carousel owl-theme slider__carousel">
                            <img class="item" src="<%= require('Static/img/img.jpg') %>" alt="Item">
                            <img class="item" src="<%= require('Static/img/img.jpg') %>" alt="Item">
                            <img class="item" src="<%= require('Static/img/img.jpg') %>" alt="Item">
                            <img class="item" src="<%= require('Static/img/img.jpg') %>" alt="Item">
                            <img class="item" src="<%= require('Static/img/img.jpg') %>" alt="Item">
                            <img class="item" src="<%= require('Static/img/img.jpg') %>" alt="Item">
                            <img class="item" src="<%= require('Static/img/img.jpg') %>" alt="Item">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md">
                    <h5>Команды:</h5>
                    <ol>
                        <li>
                            <code>yarn start</code> - run dev server</li>
                        <li>
                            <code>yarn build</code> - run build</li>
                        <li>
                            <code>yarn serv</code> - run static server</li>
                        <li>
                            <code>yarn tunnel</code> - create external link</li>
                    </ol>
                </div>
                <div class="col-sm-12 col-md">
                    <h5>Шаблон включает по-умолчанию:</h5>
                    <ol>
                        <li>jQuery</li>
                        <li>Bootstrap 4 scss</li>
                        <li>owlcarousel 2</li>
                    </ol>
                </div>
            </div>

        </div>
    </div>
</body>

</html>