@import "~Static/variables";

.slider {
  &__title {
    text-align: left;
  }
  margin: 50px 0;
  position: relative;

  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
    background-color: red;
  }
}
